<% provide(:title, 'Training') %>
<h1>Training</h1>
<div class="row">  
	<div class="span6 pagination-centered">
		<h3>Excersices</h3>
		<br/>
	 	<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">All</a></li>
		    <li><a href="#tab2" data-toggle="tab">Pecs</a></li>
		    <li><a href="#tab3" data-toggle="tab">Biceps</a></li>
		    <li><a href="#tab4" data-toggle="tab">Back</a></li>
		    <li><a href="#tab5" data-toggle="tab">Leg</a></li>
		    <li><a href="#tab6" data-toggle="tab">Cardio</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		    	<span class="badge">Bench press</span>
		    	<span class="badge">Bench press</span>
		    	<span class="badge">Biceps</span>
		    	<span class="badge">Back</span>
		    	<span class="badge">Leg</span>
		    	<span class="badge">Cardio</span>
		    	
		      
		    </div>
		    <div class="tab-pane" id="tab2">
		    	<span class="badge">Bench press</span>
		    	<span class="badge">Bench press</span>
		    	<span class="badge">Bench press</span>
		    	<span class="badge">Bench press</span>
		       	
		    </div>
		    <div class="tab-pane" id="tab3">
		    	<span class="badge">Biceps</span>
		    	<span class="badge">Biceps</span>
		    	<span class="badge">Biceps</span>
		    	<span class="badge">Biceps</span>
			    
		    </div>
		    <div class="tab-pane" id="tab4">
		    	<span class="badge">Back</span>
		    </div>
		    <div class="tab-pane" id="tab5">
		    	<span class="badge">Back</span>
		    </div>
		    <div class="tab-pane" id="tab6">
		    	<span class="badge">Cardio</span>
		      	
		    </div>
		  </div>
		</div>
	</div>

	<div class="span6 pagination-centered">
		<h3>Schedule</h3>
		<br/>
	 	<table class="table table-striped table-bordered table-hover">
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;width:15%">Mon</td>
	 			<td style="width:85%"></td>
	 		</tr>

	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Tue</td>
	 			<td ></td>
	 		</tr>
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Wed</td>
	 			<td></td>
	 		</tr>
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Thu</td>
	 			<td></td>
	 		</tr>
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Fri</td>
	 			<td></td>
	 		</tr>
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Sat</td>
	 			<td></td>
	 		</tr>
	 		<tr style="height:80px">
	 			<td style="text-align: center;vertical-align: middle;">Sun</td>
	 			<td></td>
	 		</tr>
 
		</table>
	</div>
</div>
