<% provide(:title, 'Training') %>
<h1>Training</h1>
<div class="row">  
<div class="span4">
 1st week
</div>
<div class="span4">
 <%= image_tag("man.png", alt: "Man",class: "center")%>
</div>
<div class="span4">
 Excersices
</div>
</div>
