<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
  <p>KCal burned</p>
  <p>Total: 5365</p>
  <p>Total Hamburgers burned: 15.6</p>

  <p>For a week: 1340</p>
  <p>Hamburgers for a week: 5.6</p>

  <p>Progress +38%</p>
</span>
