@model IEnumerable<SportTracker.Domain.Entities.Muscle>

@{
    ViewBag.Title = "List";
}

@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Name</h3>
        @p.Description
    </div>
}
