@using BootstrapSupport
@model SportTracker.WebUI.Models.LoginViewModel

@{
	ViewBag.Title = "Admin: Log In";
	Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
	
}

@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin" }))
{
	 <h2 class="form-signin-heading">Please sign in</h2>
	@Html.ValidationSummary(true)
	@Html.EditorForModel()
	<p>
		<input type="submit" value="Log in" />
	</p>
	
	<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
