<footer class="footer">


  <div style="margin:0 auto;width:960px">
<div class="row">
<div class="span4 ">
<a href="http://sporttracker.com/">SportTracker</a>
    by Artem & Alex
  </small>

</div>

<div class="span4 ">
&nbsp;
</div>
<div class="span4 ">
 <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
</div>
</div>
</div>



  
 
</footer>
